/*!
global > color
------------------------------
*/
:root {
    --color-font-base: #414f5d;
    --color-font-white: #ffffff;
    --color-font-light: #919ca7;
    --color-bg-base: #f5f8f9;
    --color-bg-white: #ffffff;
    --color-border-black: #414f5d;
}
